body {
	box-sizing: border-box;
}

/* ANTONIO: MEDIUM */

@font-face {
	font-family: "Antonio";
	src: url("../fonts/antonio/Antonio-Medium.ttf");
	font-weight: 500;
	font-style: normal;
}

/* ANTONIO: BOLD */

@font-face {
	font-family: "Antonio";
	src: url("../fonts/antonio/Antonio-Bold.ttf");
	font-weight: 500;
	font-style: normal;
}

/* SPARTAN: REGULAR */

@font-face {
	font-family: "Spartan";
	src: url("../fonts/spartan/Spartan-Regular.ttf");
	font-weight: 400;
	font-style: normal;
}
